@charset "UTF-8";

@font-face {
    font-family: 'Baskerville';
    src: url('/fonts/Baskerville-01.ttf') format('truetype');
    font-weight: normal; 
    font-style: normal; 
}

@font-face {
    font-family: 'Baskerville';
    src: url('/fonts/Baskerville-Italic-03.ttf') format('truetype');
    font-weight: normal; 
    font-style: italic; 
}

:root {
    --cor0: black;
    --cor1: white;
    --cor2: #DD1E30;
    --fonte-titulo: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    --fonte-body-text: 'Baskerville', serif;
}

* {
    margin: 0;
    padding: 0;
    /*border: 1px solid white;*/
    
    
}

div.logo {
    font-family: var(--fonte-titulo);
}

div.logo > h1 {
    color: var(--cor1);
    font-size: clamp(25px, 30px, 30px);
    padding: 2px;
}

div.logo > h2 {
    background-color: var(--cor0);
    color: var(--cor1);
    font-size: clamp(25px, 30px, 30px);
    padding: 2px;
}

/* HEADER */

.header-logo {
    font-family: var(--fonte-titulo);
}

.header-logo > h1 {
    color: var(--cor1);
    font-size: 30px;
    padding: 2px;
}

.header-logo > h2 {
    background-color: var(--cor0);
    color: var(--cor1);
    font-size: 30px;
    padding: 2px;
}

header {
   display: flex;
   flex-flow: row wrap;
   justify-content: space-between;
   align-items: center;
}

nav {
    font-family: var(--fonte-titulo);
    font-size: 20px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
}

nav a {
    text-decoration: none;
    color: var(--cor1);
    transition: 0.3s;
    padding: 10px 15px 0px 0px;
    margin: 0px;
}

nav a:hover {
    color: var(--cor0);
}

/* HEADER END */

body {
    background-color: var(--cor2);
    
}

div.main-content {
    display: flex;
    margin: 50px;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;  
}

article {
    background-color: var(--cor1);
    width: 100vw;
    height: auto;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

article > h1 {
    font-family: var(--fonte-titulo);
    font-size: 3em;
    color: var(--cor2);
    text-align: center;
    padding: 35px;
}

article > p {
    font-family: var(--fonte-body-text);
    font-weight: normal;
    font-size: 1em;
    padding: 35px;
    hyphens: auto;
    word-wrap: break-word;
}

aside {
    font-family: var(--fonte-body-text);
    font-style: italic;
    font-size: 13px;
    hyphens: auto;
    word-wrap: break-word;
    columns: 2;
    padding: 35px;
}

.singles-container::-webkit-scrollbar {
    display: none; /* Esconde a barra de rolagem */
}

#roll {
    display: flex;
    flex-flow: row nowrap;
    overflow-x: auto;
    scroll-behavior: smooth; /* Adiciona uma rolagem suave */
    -webkit-overflow-scrolling: touch;
    justify-content: space-evenly;
    padding: 15px;
    cursor: grab;
    cursor: -webkit-grab;
}

#roll.active {
    cursor: grabbing;
    cursor: -webkit-grabbing;
}

#roll::-webkit-scrollbar {
    display: none; /* Esconde a barra de rolagem */
}

div.singles-container {
    display: flex;
    flex-flow: row nowrap;
    overflow-x: auto;
    
    -webkit-overflow-scrolling: touch;
    justify-content: space-evenly;
    
}

div.single {
    display: flex;
    flex-flow: column wrap;
    width: 500px;
    scroll-snap-align: start;
    height: auto;
    background-color: white;
    justify-content: flex-start;
    align-items: center;
    margin: 25px;

}

div.single > img {
width: 300px;
height: 300px;
padding: 20px;
}

div.single > h1 {
    font-family: var(--fonte-titulo);
    color: var(--cor2);
    padding: 10px;
    text-align: center;
}
div.single > h2 {
    font-family: var(--fonte-body-text);
    font-weight: normal;
    font-size: 16px;
    font-style: italic;
    text-align: center;
    
}
div.single > p {
    font-family: var(--fonte-body-text);
    padding: 25px;
    hyphens: auto;
    word-wrap: break-word;
}

img.you-and-i:hover  {
    content: url('../img/you&i-single2.jpg');
}

img.you-and-i {
    background-size: cover;
    background-position: center;
    width: 250px;
    height: 250px;
}

/* FOOTER */

.footer-container {
    display: flex;
    justify-content: center;
    padding: 20px;
    background: #000;
    color: #fff;
}

.footer {
    background-color: var(--cor0);
}

.logo-footer {
    display: inline-block;
}

.logo-footer h1, 
.logo-footer h2 {
    margin: 0;
    text-align: left;
    font-family: var(--fonte-titulo);
    font-size: 25px;
}
.logo-footer h1 {
    color: var(--cor1);
}

.logo-footer h2 { 
    background: #fff;
    color: var(--cor0);
}

.footer-text, .footer-text a {
    font-family: var(--fonte-titulo);
    color: var(--cor1);
}

.footer-text > a:hover {
    color: var(--cor2);
}

/* FOOTER END */